<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528136352123-uu9mnk3u6q6500qg6dsphc95qi0nhcms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528136352123-uu9mnk3u6q6500qg6dsphc95qi0nhcms</string>
	<key>API_KEY</key>
	<string>AIzaSyBuGXl3OICOIl7HBzadmRLEyN6U03qoR3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>528136352123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventory.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>temmw-inventory</string>
	<key>STORAGE_BUCKET</key>
	<string>temmw-inventory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528136352123:ios:c49967f61deb8e015ecdde</string>
</dict>
</plist>